/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*generics*/

body{
    background-color: black;
    font-family: 'Fredoka', sans-serif;
    text-align: center;
}

header{
    margin: 60px;
    display: inline-block;
}

h1{
    font-size: 2.5rem;
    color: rgb(255, 66, 176);
}

p, span{
    font-weight: lighter;
}

p{
    font-size: 1.1rem;
}

a{
    color: rgb(35, 147, 252);
    text-decoration: none;
}

img{
    height: 100px;
    float: left;
}

/* page & container */

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.page{
    background-color: white;
    width: 1488px;
    height: 747px;
    margin: 89px auto;
}

/* card */

.column{
    width: calc(100% / 3 );
    float: left;
    padding: 10px;
}

.card{
    display: inline-block;
    background-color: black;
    color: white;
    width: 360px;
    text-align: left;
}

.card-info{
    padding: 13px 0;
    margin-left: 120px;
}

.column-space{
    margin: 80px 30px;
}

/* utility */

.fix::after{
    content: " ";
    display:block;
    clear: both;
}

